{% extends "layout.html" %}
{% block content %}
 <article class="media content-section">
 </article>
 <div class="form-group">
 </div>
{% endblock content %}
{% extends "layout.html" %}
{% block content %}
 <article class="media content-section">
 </article>
 <div class="form-group">
 </div>
{% endblock content %}
allow.html
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>enter page</title>
</head>
<body background="static/1.jfif">
<center><h1>Your are allow to enter</h1></center>
</body>
</html>